*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    
}
/* .intro{
    background-image: url(abstract-blurred-empty-college-library-600nw-1162616722.webp);
    background-size: cover;
} */
main{
    background-image: url(bg.jpg);
    background-size: cover;
}
.navbar{
    height: 80px;
    background-color: rgb(114, 144, 160);
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 150px;
    height: 70px;
    font-size: 1.3rem;
    color: rgb(220, 107, 20);
    background-color: rgb(46, 43, 43);
    margin-left: 5px;

    
}
.nav-item{
    width: 200px;
    height: 60px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: white 2px solid;
    margin-top: 5px;

}
.society{
    display: block;
}
#societybutton{
    width: 200px;
    height: 60px;
    text-align: center;
    background-color: greenyellow;
    font-size: 1.3rem;
    
    
}
.drop-down-societies{
    display: none;
    z-index: 1;
}

.society:hover .drop-down-societies{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
.op{
    width: 200px;
    height: 20px;
    border:2px solid black;
    background-color: rgb(158, 246, 131);
    color: black;
    text-align: center;
}

.proff{
    color: black;
    background-color: chocolate;
}
.SAC{
    color: black;
    background-color: deeppink;
}
.profile{
    color: black;
    background-color: yellow;
    margin-right: 5px;
}

/* .intro{
    height: 400px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

} */
.text{
    margin-top: 50px;
    background-image: url(istockphoto-641854190-612x612.webp);
    background-size: contain;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;

    font-family: sans-serif;
}

#text1{
    
    font-size: 24px;
    color: blue;
    
}
#text2{
    margin-top: 15px;
    font-size: 60px;
    color: rgb(226, 95, 43);
    text-align: center;
}
#text3{
    margin-top: 20px;
   border: solid black 2px;
   background-color: red;
   color: white;
   font-size: 20px; 
   padding: 15px;
   border-top-left-radius: 30px;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius: 30px;
   border-top-right-radius: 30px;
}
.branch{
    display: flex;
    justify-content: space-evenly;
}
/* .branchbutt{
    border: solid black 2px;
   background-color: red;
   color: white;
   font-size: 20px; 
   padding: 15px;
   border-top-left-radius: 30px;
   border-bottom-right-radius: 30px;
   border-bottom-left-radius: 30px;
   border-top-right-radius: 30px;
} */

.branchbutt{
    margin-top: 30px;
    height: 500px;
    width:30%;
    position: relative;
    margin-bottom: 30px;
}
.IT{
    background-image: url(vishwas.jpg);
    background-size: cover;
}

.Candidates{
    border: solid black 2px;
    background-color: yellow;
    color: black;
    font-size: 1.6rem; 
    padding: 15px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    opacity: 0.8;
    position: absolute;
    bottom: 5%;
    left: 30%;

}
.ECE{
    background-image: url(samyak.jpg);
    background-size: cover;
}
.IT-BI{
    background-image: url(hanesj.jpg);
    background-size: cover;
}
.footer{

    background-color: rgb(253, 237, 245);
    color: black;
    height: 140px;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    text-align: left;

}

ul{
    margin-top: 15px;
}
ul a{
    display: block;
    font-size: 1rem;
    margin: 10px;
    
}
.heading{
    text-decoration: underline solid;
    text-align: center;
}
.learmore{
    padding: 20px;
    font-size: larger;
    /* background-image: url(bg.jpg); */
    background-size: cover;
}